@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.content {
    display: flex;
    width: 32rem;
    height: 35rem;
    align-items: center;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #d9d7d8;
    background-image: url('./images/pixel.jpg');
    background-size: cover;
    padding-left: 10rem;
}


#canvas {
    border-radius: 9px;
    display: block;
    margin-left: auto;
    margin-right: 12.1rem;
    margin-top: 11.1rem;
}

.phone {
    background-image: url('./images/oldcell.png');
    background-repeat: no-repeat;
    background-size: 35rem;
    background-position-y: 50%;
    background-position-x: 100%;
    position: absolute;
    height: 40rem;
    width: 60rem;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color:'#333333';
    
}

#score {
   font-family: 'Press Start 2P', cursive;
   font-size: 1.2rem;
   margin-top: 1rem;
 
}

.content img {
    width: 10rem;
    height: 5rem;
    display: flex;
    align-self: start;
    justify-content: flex-start;
    
}

.content li {
 font-family: 'Press Start 2P', cursive;
 margin-top: 1rem;
 margin-bottom: 0.5rem;
 padding: 0.5rem;
 line-height: 1.5rem;
}

#start-btn {
    z-index: 1000;
    font-family: 'Press Start 2P', cursive;
    margin-top: 1rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #77a581;
    width: 8rem;
}

#start-btn:hover{
   background-color:white; 
   transition-duration: 0.5s;
}
